div{
    text-align: center;
}

.form-horizontal .form-group{
    margin-right:0px;
}
 .btn{
     background-color: goldenrod;
 }

.log_in_container{
     background-color: lightslategray;
     height:675px;
 }