form{
    text-align: -webkit-center;
    margin-top: 100px;
}
.register_container{
    background-color: lightslategray;
     height:675px;
}

.email-padding{
    padding-right: 100px;
}

.password-padding{
    padding-right:75px;
}