
.nav{
  color : goldenrod;
  background-color: black;
  width: 100%;
  height : 65px;
  padding-top: 15px;
  text-align: left;
}
.nav .log_in{
  margin-right:10px;
}
.nav .register{
  margin-right:25px;
}
.nav .about{
  margin-right:25px;
}
.nav .bitchange{
  color: goldenrod;
  margin-left:10px;
}
.nav .log_out{
  margin-right:10px;
}
.log_in{
  float:right;
  background-color: transparent;
  color:goldenrod;
  border:hidden;
}
.register{
float:right;
background-color: transparent;
color:goldenrod;
border:hidden;
}
.about{
  float : right;
  color: goldenrod;
}
.background{
  width:100%;
  height:600px;
  background-image: url('background.jpg');
  background-size: 100%  600px;
  opacity: 0.8;
}
.register_button{
  width:125px;
  margin-right: 5px;
  margin-top:400px;
  background-color: gold; 
  margin-left: -30px;
  
}
.log_in_button{
  width:125px;
  margin-left:10px;
  margin-top:400px;
  background-color: gold;
 
}